
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max-content;
    border: 1px solid gray;
    background-color: rgb(204, 237, 255);
    padding: 2rem;
    border-radius: 7px;
}
input{
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid gray;
}
#addBtn,#clearBtn{
    padding: 10px;
    width: 7vw;
    align-self: center;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
}
#addBtn:hover,#clearBtn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#addBtn:active,#clearBtn:active{
    scale: 0.9;
}
.movieContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid gray;
    padding: 1rem;
    width: 20vw;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
h3{
    text-align: center;
}
li{
    padding: 1rem;
    list-style:lower-roman;
}
#list:hover{
    scale: 1.2;
    cursor: pointer;
}